
/* -------------------------------------------------------------------------
Top level body and HTML styling 
----------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

html {
    height: 100%;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    height: 100%;
    background-color: #0e0e0e;
    margin: 0;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------
Background, shapes and logo styling
----------------------------------------------------------------------------*/

#topbg {
    position: absolute;
    margin-top: -20%;
    margin-left : -5%;
    margin-right : -5%;
    z-index: 0;    
}

#logo {
    position: absolute;
    margin : 1% 0 0 1%;
    height: auto; width: 10%;     
    z-index: 3;
}

/* -------------------------------------------------------------------------
Navigation bar styling
----------------------------------------------------------------------------*/

#navbar {
    position: absolute;
    object-fit: cover;
    margin : -5%;
    height: auto; width: auto;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin-top: 2%;
    margin-right: 3%;
    float: right;
}

nav ul li {
    float : left;
    margin-left: 5vw;
    margin-right: 0.5vw;
    font-size: 1vw;
    
}

nav ul li a {
    color: white;    
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;      
    text-decoration: none;
    z-index: 10; 
}

nav ul li a:hover {
    color: gray;    
}

/* -------------------------------------------------------------------------
Landing page - section 1 styling
----------------------------------------------------------------------------*/

#rightshape {
    position: absolute; 
    top : 0px; right: 0px;
    margin : -1% -1% auto;
    height: auto; width: 30%;    
    z-index: 1;
}

#lp_dist {
    
    display: block;
    position: absolute; 
    margin-top : 15%; 
    margin-left: 20%;
    height: auto; width: 35%;    
    z-index: 1;
}