
/* -------------------------------------------------------------------------
Top level body and HTML styling 
----------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

html {
    height: 100%;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    height: 100%;
    background-color: #0e0e0e;
    margin: 0;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------
Background, shapes and logo styling
----------------------------------------------------------------------------*/

#topbg {
    position: absolute;
    margin-top: -27%;
    margin-left : -5%;
    margin-right : -5%;
    z-index: 0;    
}

#logo {
    position: absolute;
    margin : 1% 0 0 1%;
    height: auto; width: 10%;     
    z-index: 3;
}

/* -------------------------------------------------------------------------
Navigation bar styling
----------------------------------------------------------------------------*/

#navbar {
    position: absolute;
    object-fit: cover;
    margin : -5%;
    height: auto; width: auto;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin-top: 2%;
    margin-right: 3%;
    float: right;
}

nav ul li {
    float : left;
    margin-left: 5vw;
    margin-right: 0.5vw;
    font-size: 1vw;
    
}

nav ul li a {
    color: white;    
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;      
    text-decoration: none;
    z-index: 10; 
}

nav ul li a:hover {
    color: gray;    
}

/* -------------------------------------------------------------------------
Landing page - section 1 styling
----------------------------------------------------------------------------*/

#rightshape {
    position: absolute; 
    top : 0px; right: 0px;
    margin : -1% -1% auto;
    height: auto; width: 29%;    
    z-index: 1;
}

#lp_dist {
    
    display: block;
    position: absolute; 
    margin-top : 12%; 
    margin-left: 20%;
    height: auto; width: 30%;    
    z-index: 1;
}

.page-label{
    font-weight: 600;
    font-size: 3.3vw;    
    text-decoration: none;
    position:absolute;
    margin-top : 31%; 
    margin-left: 18%;    
}

p1{
    position: relative;
    z-index: 10;
    margin: 0;
    position: 0; 
}

p2{
    position: relative;
    display:block;
    margin-top: -12%;
    left: 1%;
    z-index: 9; 
    background: #FFBE0B;
    background: -webkit-linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    background: -moz-linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    background: linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p3{
    position: absolute;
    font-weight: 300;
    font-size: 0.9vw;    
    text-decoration: none;
    margin-top : 35.5%; 
    margin-left: 28.5%;
    z-index: 10; 
}