
/* -------------------------------------------------------------------------
Top level body and HTML styling 
----------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

html {
    height: 100%;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    height: 100%;
    background-color: #0e0e0e;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* -------------------------------------------------------------------------
logo styling
----------------------------------------------------------------------------*/

#logo {
    position: absolute;
    margin : 0.9vh 0 0 0.5vw;
    height: auto; width: 8%;
    min-width: 150px;   
    z-index: 4;
}

/* -------------------------------------------------------------------------
Navigation bar styling
----------------------------------------------------------------------------*/

#navbar {
    position: absolute;
    object-fit: cover;
    margin : -7%;
    height:auto; width: auto;
    min-height: 155px;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    margin-top: 1.2%;
    margin-right: 3%;
    float: right;
}

nav ul li {
    float : left;
    margin-left: 5vw;
    margin-right: 0.5vw;
    font-size: 0.75vw;
    
}

nav ul li a {
    color: white;    
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;      
    text-decoration: none;
    z-index: 10; 
}

nav ul li a:hover {
    color: gray;    
}

/* -------------------------------------------------------------------------
Landing page - top section styling
----------------------------------------------------------------------------*/

#topbg {
    position: absolute;
    margin-top: -27%;
    margin-left : -5%;
    margin-right : -5%;
    z-index: 1;    
}

#rightshape {
    position: absolute; 
    top : 0px; right: 0px;
    margin : -1% -1% auto;
    height: auto; width: 31%;    
    z-index: 2;
}

#topshape {
    
    display: block;
    position: absolute; 
    margin-top : 12%; 
    margin-left: 20%;
    height: auto; width: 30%;    
    z-index: 2;
}

.page-first-container .text-container{
    font-weight: 600;
    font-size: 3.3vw;    
    text-decoration: none;
    position:absolute;
    margin-top : 31%; 
    margin-left: 19%;    
}

.text-container p1{
    position: relative;
    z-index: 10;
}

.text-container p2{
    position: relative;
    display:block;
    margin-top: -1.13em;
    left: .1em;
    z-index: 9; 
    background: #FFBE0B;
    background: -webkit-linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    background: -moz-linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    background: linear-gradient(to right, #FFBE0B 0%, #D00000 54%, #1A1A1A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-first-container p3{
    position: absolute;
    font-weight: 300;
    font-size: 0.9vw;    
    text-decoration: none;
    margin-top : 35.5%; 
    margin-left: 29%;
    z-index: 10; 
}

/* -------------------------------------------------------------------------
Landing page - second section styling
----------------------------------------------------------------------------*/

#middlebg {
    position: absolute;
    margin-top: 30%;
    margin-left : -5%;
    margin-right : -5%;
    z-index: 0;    
}

#leftshape {
    position: absolute;
    margin-top:55%;
    margin-left:15%;
    height: auto; width: 20%;    
    z-index: 2;
}

.page-second-container .text-container{
    font-weight: 600;
    font-size: 3.3vw;    
    text-decoration: none;
    position:absolute;
    margin-top : 58%; 
    margin-left: 57%;    
}

#skills{
    position: absolute;
    margin-top:65%;
    margin-left:54%;
    height: auto; width: 37%;    
    z-index: 2;
}

/* -------------------------------------------------------------------------
Landing page - thrid section styling
----------------------------------------------------------------------------*/

#bottombg {
    position: absolute;
    margin-top: 80%;
    padding-bottom: 8%;
    margin-left : -5%;
    margin-right : -5%;
    z-index: 0;    
}

.page-third-container .text-container{
    font-weight: 600;
    font-size: 3.3vw;    
    text-decoration: none;
    position:absolute;
    margin-top : 107%; 
    margin-left: 12%;    
}

#tools{
    position: absolute;
    height: auto; width: 70%;
    margin-top: 127%; 
    margin-left: 16%;
    z-index:2
}

#bottomshape{
    position: absolute;
    height: auto; width: 55%;
    margin-top: 112%; 
    margin-left: 22%;
    transform: rotate(200deg);
    opacity: 0.5;
    z-index:1
}

/* -------------------------------------------------------------------------
Bottom bar styling
----------------------------------------------------------------------------*/

.bottom-bar-container p3{
    position: absolute;
    font-weight: 300;
    font-size: 0.9vw;    
    text-decoration: none;
    margin-top : 166%; 
    margin-left: 42%;
    z-index: 10;     
}

#github{
    position: absolute;
    margin-top: 168%;
    margin-left: 43%;
    width: 4.1%; height: auto;
    z-index: 2; 
}

#linkedin{
    position: absolute;
    margin-top: 168.1%;
    margin-left: 48.3%;
    width: 2.5%; height: auto;
    z-index: 2; 
}

#steam{
    position: absolute;
    margin-top: 168.1%;
    margin-left: 53.1%;
    width: 2.4%; height: auto;
    z-index: 2; 
}

